.resizer {
position: absolute;
width: 10px;
height: 10px;
right: 0;
bottom: 0;
cursor: se-resize;
background: #7b7b7b18;
z-index: 10;
}

.infoText{
	position: fixed;
	right: 10px;
	top: 10px;
	text-align: right;
	max-width: 200px;
	padding: 5px;
	color: rgba(0, 0, 0, 0.29);
	font-Family: Arial, sans-serif;
	white-Space: pre;
	cursor: default;
	user-select: none;
}

.titleLetter {
	font-size: 20vh;
	color: white;
	font-Family: sans-serif;
	font-Weight: bold;
	display: inline-block;
	transition: transform 0.5s ease;
	z-index: 9999;
	width: auto;
	cursor: pointer;
	user-select: none;
}

.subText {
	font-size: 2vh;
	color: white;
	animation: fadeIn 2s ease forwards;
	font-Family: sans-serif;
	font-Weight: bold;
	z-index: 9999;
	width: auto;
	user-select: none;
}

.titleLetter:hover{
	transform: scale(1.05);
}

.infoBox {
	font-size: 1.5vh;
	color: white;
	display: inline-block;
	font-family: sans-serif;
	font-weight: bold;
	pointer-events: none;
	width: auto;
	user-select: none;
	height: auto;
	position: absolute;
	visibility: hidden;
	white-space: nowrap;
	background: rgba(0, 0, 0, 0.899);
	padding: 10px;
	border-radius: 8px;
	z-index: 9999;
	opacity: 1;
	transition: opacity 0.3s ease;
}

.menuBlock {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	text-align: center;
	z-index: 9999;
	animation: all 2s ease forwards;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

.hidden { display: none !important; }
